/*============
  CSS reset
  ===========*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===
css home page
===*/

    html {
        font-size: calc(10px + 1vw);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    html body a {
        text-decoration: none;
        color: #232323;
    }
    header {
        margin: 2vw 10vw 4vw 8vw;
        padding:   0 0 0;
    }
    header nav{
        display: flex;
        justify-content:space-between ;

    }
    header  nav ul {
        display: flex;
        justify-content: right;
        
    }
    header nav ul li {
        margin: 2vw 10px 0 8px;
        color: #868686;
    }
    header nav ul li.atual  {
        color: #232323;
    }
    header a {
        margin: 2vw 0 0 0;
    }
    header a strong {
        font-weight: bold;
    }
    main {
        margin: 0vw 10vw  0 8vw;
    }
    main section div h1 {
       font-weight: bold;
       font-family: 'Times New Roman', Times, serif;
       font-size: 3rem;
    }
    main section div h1 span {
        color: #47c183;
    }
    main section div p {
        margin: 2vw 0 4vw 0;
    }  
    main section.inicio {
        display: flex;
    }
    main section div button {
        background-color: black;
        color: white;
        width: 10vw;
        height: 4vw;
        font-weight: bold;
    }

    main section div a {
        text-decoration: underline  ;
        margin: 0 0 0 3vw;
    }
 
    main section.point div.conteudo1  {
        display: flex;
        background-color: #f8f8f8;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 3vw 3vw 3vw 3vw;
        height: 7rem;
    }
    main section.point h2 {
        text-align: center;
        font-weight: bold;
        margin: 4vw 0 4vw 0;
    }
    main section.point div.conteudo2 {
        display: flex;
        padding: 4vw 4vw 4vw 4vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: 7rem;
    }
    main section.experimentos h2{
        text-align: center;
        font-weight: bold;
        margin: 4vw 0 0 0 ;
    }
    main section.experimentos div {
        display: flex;
    }
    main section.experimentos div p {
        background-color: #f8f8f8;
        padding: 3vw 3vw 3vw 3vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    main section.experimentos div p span {
        font-weight: bold;
    }

    footer {
        display: flex;
        border-top: #868686;
        margin: 5vw 0 0 0;
    }
    footer nav ul {
        display: flex;
        margin: 0 0 0 5vw;
    }
    footer nav ul li {
        padding: 0vw 2vw 2vw 2vw;
        color: #868686;
        text-decoration: underline;
        
    }
    footer p {
        padding: 0 2vw 2vw 2vw;
    }